
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1{
    color: aliceblue;
}

.lista-agentes {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around; 
}

.lista-agentes a{
   text-decoration: none;
}

.card-agente {
    background-color: rgb(235, 97, 97); 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
    margin: 10px; 
    padding: 15px; 
    width: 200px; 
    text-align: center; 
    transition: transform 0.2s;
}

.card-agente:hover {
    transform: scale(1.05); 
}

.card-agente img {
    width: 100%; 
    height: auto; 
}

.card-agente h2{
    color: aliceblue;
}


.habilidade {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.icon {
    display: inline-block; /* Permite que as imagens fiquem lado a lado */
    margin: 5px; /* Espaçamento entre as imagens das habilidades */
}
